[submodule "modules/dotly"]
	path = modules/dotly
	url = https://github.com/CodelyTV/dotly.git
	branch = master
[submodule "modules/p10k"]
	path = modules/p10k
	url = https://github.com/romkatv/powerlevel10k.git
